<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/contact_form/fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link href="/static/news/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/static/contact_form/css/style.css">

  </head>
  <body>


   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/channelnews/channelnews1/">NewsandDeals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link active" href="/channelnews/channelnews1/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/channel/vuserchannel/">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service/vservice/">Services</a>
          </li>

              <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/shop/vshop/">Shop</a>
          <a class="dropdown-item" href="/offer/voffer/">Offer</a>
        </div>
              </li>

          <li class="nav-item">
            <a class="nav-link" href="/complaint/complaint/">Contact</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="/login/login/">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="content">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">


          <div class="row justify-content-center">
            <div class="col-md-6">

              <h3 class="heading mb-4">Let's talk about everything!</h3>
              <p></p>

              <p><img src="/static/contact_form/images/undraw-contact.svg" alt="Image" class="img-fluid"></p>


            </div>
            <div class="col-md-6">

              <form class="mb-5" method="post" id="contactForm" name="contactForm">
                   {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div>
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

   <footer class="py-5 bg-dark">
    <div class="container">
        <div class="container">
</div>
         <div class="text-center center-block">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
</div>
      <p class="m-0 text-center text-white">Copyright &copy; NewsandDeals 2021</p>
        <p class="m-0 text-center text-white">  Made with <span style="color: #e25555;">&hearts;</span> in Kozhikode</p>
    </div>
    <!-- /.container -->
  </footer>


    <script src="/static/contact_form/js/jquery-3.3.1.min.js"></script>
    <script src="/static/contact_form/js/popper.min.js"></script>
    <script src="/static/contact_form/js/bootstrap.min.js"></script>
    <script src="/static/contact_form/js/jquery.validate.min.js"></script>
    <script src="/static/contact_form/js/main.js"></script>

  </body>
</html>
