{% extends 'temp/admin.html' %}
 {% block base %}
<form method="POST">
    {% csrf_token %}
	<h1 align="centere">REGISTRATION</h1>
     <style>
         input{
             background: white;
         }
     td{
         color: black;
     }
     </style>

	<table>
		<tr>
			<td>SERVICE CATEGORY</td>
			<td><select name="service">
				<option value="">--Select Service--</option>
				<option value="Emergency">EMERGENCY</option>
				<option value="public service">PUBLIC SERVICE</option>
				<option value="Bus schedule">BUS SCHEDULE</option>
				<option value="taxi">TAXI</option>
            </select>
			</td>
		</tr>
        <tr>
        <td>
                SERVICE NAME
            </td>
            <td>
                <input type="text" name="sn" required>
            </td>
        </tr>
		<tr>
		<td>MUNICIPALITY/PANCHAYATH</td>
		<td><textarea name="munipanch" rows="5"style="background: white" required ></textarea></td>
		</tr>
		<tr>
			<td>DISTRICTS</td>
			<td><select name="district">
				<option value="">--Select District--</option>
				<option value="KASARAGOD">KASARAGOD</option>
				<option value="KANNUR">KANNUR</option>
				<option value="WAYANADU">WAYANADU</option>
				<option value="KOZHIKODE">KOZHIKODE</option>
				<option value="MALAPPURAM">MALAPPURAM </option>
				<option value="THRISSUR">THRISSUR </option>
				<option value="PALAKKAD"> PALAKKAD</option>
				<option value="ERANAKULAM">ERANAKULAM </option>
				<option value="IDUKKI"> IDUKKI</option>
				<option value="KOTTAYAM">KOTTAYAM </option>
				<option value="PATHANAMTHITTA"> PATHANAMTHITTA</option>
				<option value="ALAPPUZHA"> ALAPPUZHA</option>
				<option value="KOLLAM"> KOLLAM</option>
				<option value="THIRUVANANTHAPURAM"> THIRUVANANTHAPURAM</option>
			
			</select></td>
		</tr>
        <tr>
            <td>
                STATE
            </td>
            <td>
                <input type="text" name="state" required>
            </td>
        </tr>
		<tr>
			<td>PHONE NUMBER</td>
			<td>
				<input type="text" name="ph" required>
			</td>
		</tr>
        <tr>
            <td>
                DATE
            </td>
            <td>
                <input type="date" name="date" required>
            </td>
        </tr>
            <td>TIME
            </td>
            <td>
                <input type="time" name="time" required>
            </td>
        </tr>


		<tr>
			<td></td>
			<td><input type="submit" name="sub" value="REGISTER" required></td>
		</tr>
	</table>
</form>
{% endblock %}