<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home - News and Deals</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/news/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/news/blog-home.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
<!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/channelnews/channelnews1/">NewsandDeals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link active" href="/channelnews/channelnews1/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/channel/vuserchannel/">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service/vservice/">Services</a>
          </li>

              <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/shop/vshop/">Shop</a>
          <a class="dropdown-item" href="/offer/voffer/">Offer</a>
        </div>
              </li>

          <li class="nav-item">
            <a class="nav-link" href="/complaint/complaint/">Contact</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="/login/login/">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

         {% if objval %}
    {% for ob in objval %}

         <div class="card mb-4">
          <img class="card-img-top" src="/static/{{ ob.image }}" width="100"alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ ob.title }}</h2>
            <p class="card-text">{{ ob.news}}</p>
{#              <a href="#" class="btn btn-primary">Read More &rarr;</a>#}
          </div>
          <div class="card-footer text-muted">
            Posted on {{ ob.date}} by
            <a href="#">{{ ob.c.name }}</a>
          </div>
        </div>

      {% endfor %}
{% endif %}
      </div>


      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
{#        <div class="card my-4">#}
{#          <h5 class="card-header">Search</h5>#}
{#          <div class="card-body">#}
{#            <div class="input-group">#}
{#                <form method="post">#}
{#                    {% csrf_token %}#}
{#              <input type="text" class="form-control" placeholder="Search for...">#}
{#              <span class="input-group-append">#}
{#                <input type="submit" class="btn btn-secondary" name="s">#}
{#              </span>#}
{#                    </form>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
           comming soon
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
        <div class="container">
</div>
         <div class="text-center center-block">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
</div>
      <p class="m-0 text-center text-white">Copyright &copy; NewsandDeals 2021</p>
        <p class="m-0 text-center text-white">  Made with <span style="color: #e25555;">&hearts;</span> in Kozhikode</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/news/vendor/jquery/jquery.min.js"></script>
  <script src="/static/news/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
