<!DOCTYPE html>
<html>
	<head>
		<title>LOGIN- NEWS AND DEALS &amp; </title>
		<!--meta-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
		<meta name="format-detection" content="telephone=no" />

		<!--style-->
		<link href='//fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/style/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/style/superfish.css">
		<link rel="stylesheet" type="text/css" href="/static/style/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="/static/style/jquery.qtip.css">
		<link rel="stylesheet" type="text/css" href="/static/style/style.css">
		<link rel="stylesheet" type="text/css" href="/static/style/menu_styles.css">
		<link rel="stylesheet" type="text/css" href="/static/style/animations.css">
		<link rel="stylesheet" type="text/css" href="/static/style/responsive.css">
		<link rel="stylesheet" type="text/css" href="/static/style/odometer-theme-default.css">
		<!--<link rel="stylesheet" type="text/css" href="style/dark_skin.css">-->
		<!--<link rel="stylesheet" type="text/css" href="style/high_contrast_skin.css">-->
		<link rel="shortcut icon" href="/static/images/favicon.ico">
	</head>


	<!--<body class="image_1">
	<body class="image_1 overlay">
	<body class="image_2">
	<body class="image_2 overlay">
	<body class="image_3">
	<body class="image_3 overlay">
	<body class="image_4">
	<body class="image_4 overlay">
	<body class="image_5">
	<body class="image_5 overlay">
	<body class="pattern_1">
	<body class="pattern_2">
	<body class="pattern_3">
	<body class="pattern_4">
	<body class="pattern_5">
	<body class="pattern_6">
	<body class="pattern_7">
	<body class="pattern_8">
	<body class="pattern_9">
	<body class="pattern_10">-->
	<body>
		<div class="site_container">
			<!--<div class="header_top_bar_container style_2 clearfix">
			<div class="header_top_bar_container style_2 border clearfix">
			<div class="header_top_bar_container style_3 clearfix">
			<div class="header_top_bar_container style_3 border clearfix">
			<div class="header_top_bar_container style_4 clearfix">
			<div class="header_top_bar_container style_4 border clearfix">
			<div class="header_top_bar_container style_5 clearfix">
			<div class="header_top_bar_container style_5 border clearfix"> -->
			<div class="header_top_bar_container clearfix">
				<div class="header_top_bar">
					<form class="search" action="srch.html" method="get">
						<input type="text" name="s" placeholder="Search..." value="Search..." class="search_input hint">
						<input type="submit" class="search_submit" value="">
					</form>
					<!--<ul class="social_icons dark clearfix">
					<ul class="social_icons colors clearfix">-->
					<ul class="social_icons clearfix">
						<li>
							<a target="_blank" href="http://facebook.com/QuanticaLabs" class="social_icon facebook" title="facebook">
								&nbsp;
							</a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social_icon twitter" title="twitter">
								&nbsp;
							</a>
						</li>
						<li>
							<a href="mailto:contact@pressroom.com" class="social_icon mail" title="mail">
								&nbsp;
							</a>
						</li>
						<li>
							<a href="http://themeforest.net/user/QuanticaLabs/portfolio" class="social_icon envato" title="envato">
								&nbsp;
							</a>
						</li>
					</ul>
					<div class="latest_news_scrolling_list_container">
						<ul>
							<li class="category">LATEST</li>
							<li class="left"><a href="#"></a></li>
							<li class="right"><a href="#"></a></li>
							<li class="posts">
								<ul class="latest_news_scrolling_list">
									<li>
										<a href="post.html" title="">Climate Change Debate While Britain Floods</a>
									</li>
									<li>
										<a href="post.html" title="">The Public Health Crisis Hiding in Our Food</a>
									</li>
									<li>
										<a href="post.html" title="">Nuclear Fusion Closer to Becoming a Reality</a>
									</li>
								</ul>
							</li>
							<li class="date">
								<abbr title="04 Apr 2014" class="timeago current">04 Apr 2014</abbr>
								<abbr title="04 May 2014" class="timeago">04 May 2014</abbr>
								<abbr title="04 June 2014" class="timeago">04 June 2014</abbr>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--<div class="header_container small">
			<div class="header_container style_2">
			<div class="header_container style_2 small">
			<div class="header_container style_3">
			<div class="header_container style_3 small">-->
			<div class="header_container">
				<div class="header clearfix">
					<div class="logo">
						<h1><a href="#" title="Pressroom">NEWS AND DEALS</a></h1>
						<h4>News and Magazine Template</h4>
					</div>
					<div class="placeholder">728 x 90</div>
				</div>
			</div>
			<!-- <div class="menu_container style_2 clearfix">
			<div class="menu_container style_3 clearfix">
			<div class="menu_container style_... clearfix">
			<div class="menu_container style_10 clearfix">
			<div class="menu_container sticky clearfix">-->
			<div class="menu_container clearfix">
00
				<nav>
				<ul class="sf-menu">
					<li class="submenu selected">
						<a href="/login/login/" title="Home">
							Home
						</a>

					</li>

                    <li>
						<a href="/channel/channel/" title="Home">
							Channel
						</a>

					</li>
                        <li>
						<a href="/shop/shop/" title="Home">
							Shop
						</a>

					</li>
{#                        <li>#}
{#						<a href="/temp/user/" title="Home">#}
{#							Public#}
{#						</a>#}
{##}
{#					</li>#}

{#					<li class="submenu">#}
{#						<a href="#" title="Registration">#}
{#							Registration#}
{#						</a>#}
{#						<ul>#}
{#							<li>#}
{#								<a href="/user/user/" title="Subadmin">#}
{#									Subadmin#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="/channel/channel/" title="Channel">#}
{#									Channel#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="/shop/shop/" title="Shop">#}
{#									Shop#}
{#								</a>#}
{#							</li>#}
{#							<li>#}
{#								<a href="/login/login/" title="Public user">#}
{#									Public user#}
{#								</a>#}
{#							</li>#}
{#						</ul>#}
{#					</li>#}
{#                    	<li class="submenu">#}
{#						<a href="/service/vservice/" title="Service">#}
{#							Service#}
{#						</a>#}
{#                            <ul>#}
{##}
{#                    <li>#}
{#								<a href="/login/login" title="Public Service">#}
{#									Public Service#}
{#								</a>#}
{#							</li>#}
{#                    <li>#}
{#								<a href="/login/login" title="Emergency Service">#}
{#									Emergency Service#}
{#								</a>#}
{#							</li>#}
{#                    <li>#}
{#								<a href="/login/login" title="Bus shedule">#}
{#									Bus shedule#}
{#								</a>#}
{#							</li>#}
{#                      <li>#}
{#								<a href="/login/login" title="Taxi">#}
{#									Taxi#}
{#								</a>#}
{#							</li>#}
{#                            </ul>#}
{#                            </li>#}

				</nav>

                {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      <strong>{{message}}<strong>
    </div>
 {% endfor %}
{% endif %}
			</div>
			<div class="page">
				<div class="page_header clearfix page_margin_top">
{#					<div class="page_header_left">#}
{#						<h1 class="page_title">Sign up</h1>#}
{#					</div>#}
{#					<div class="page_header_right">#}
{#						<ul class="bread_crumb">#}
{#							<li>#}
{#								<a title="Home" href="home.html">#}
{#									Home#}
{#								</a>#}
{#							</li>#}
{#							<li class="separator icon_small_arrow right_gray">#}
{#								&nbsp;#}
{#							</li>#}
{#							<li>#}
{#								Contact Us#}
{#							</li>#}
{#						</ul>#}
{#					</div>#}
				</div>
                <div>
                    {% block base %}
                    {% endblock %}
                </div>
				<!-- <div class="page_layout clearfix">
					<div class="divider_block clearfix">
						<hr class="divider first">
						<hr class="divider subheader_arrow">
						<hr class="divider last">
					</div>
					<div class="row page_margin_top">
						<div class="column column_2_3">
							<div class="row">
								<div class="contact_map" id="map">
								</div>
							</div>
							<div class="row page_margin_top_section">
								<div class="column column_1_2 border_top">
									<ul class="page_margin_top">
										<li class="item_content clearfix">
											<span class="features_icon envelope animated_element animation-scale"></span>
											<div class="text">
												<h3>Postal Address</h3>
												<p>PressRoom Ltd.<br>33 Farlane Street<br>25-100 Kelior East, Australia</p>
											</div>
										</li>
									</ul>
								</div>
								<div class="column column_1_2 border_top">
									<ul class="page_margin_top">
										<li class="item_content clearfix">
											<span class="features_icon mobile animated_element animation-scale"></span>
											<div class="text">
												<h3>Phone and E-mail</h3>
												<p>Phone: 1-800-64-38<br>Fax: 1-800-64-39<br>E-mail: <a href="mailto:pressroom@mail.com" title="pressroom@mail.com">pressroom@mail.com</a></p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="row page_margin_top_section">
								<h4 class="box_header">
									Drop Us a Line
								</h4>
								<p class="padding_top_30">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus. Nunc convallis cras at nunc non est lobortis laoreet. Cursus at elite imperdiet libero etos: Monday-Friday: 8 am - 6 pm, Saturday: 8 am - 3 pm.</p>
								<form class="contact_form margin_top_15" id="contact_form" method="post" action="contact_form/contact_form.php">
									<fieldset class="column column_1_3">
										<div class="block">
											<input class="text_input" name="name" type="text" value="Your Name *" placeholder="Your Name *">
										</div>
									</fieldset>
									<fieldset class="column column_1_3">
										<div class="block">
											<input class="text_input" name="email" type="text" value="Your Email *" placeholder="Your Email *">
										</div>
									</fieldset>
									<fieldset class="column column_1_3">
										<div class="block">
											<input class="text_input" name="subject" type="text" value="Subject" placeholder="Subject">
										</div>
									</fieldset>
									<fieldset>
										<div class="block">
											<textarea name="message" placeholder="Message *">Message *</textarea>
										</div>
									</fieldset>
									<fieldset>
										<input type="hidden" name="action" value="contact_form" />
										<input type="submit" name="submit" value="SEND MESSAGE" class="more active">
									</fieldset>
								</form>
							</div>
						</div>
						<div class="column column_1_3">
							<h4 class="box_header">Latest Posts</h4>
							<div class="vertical_carousel_container clearfix">
								<ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
									<li class="post">
										<a href="post_gallery.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">
											<span class="icon small gallery"></span>
											<img src='images/samples/100x100/image_06.jpg' alt='img'>
										</a>
										<div class="post_content">
											<h5>
												<a href="post_gallery.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a>
											</h5>
											<ul class="post_details simple">
												<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
												<li class="date">
													10:11 PM, Feb 02
												</li>
											</ul>
										</div>
									</li>
									<li class="post">
										<a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">
											<img src='images/samples/100x100/image_12.jpg' alt='img'>
										</a>
										<div class="post_content">
											<h5>
												<a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">Syrian Civilians Trapped For Months Continue To Be Evacuated</a>
											</h5>
											<ul class="post_details simple">
												<li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
												<li class="date">
													10:11 PM, Feb 02
												</li>
											</ul>
										</div>
									</li>
									<li class="post">
										<a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">
											<img src='images/samples/100x100/image_02.jpg' alt='img'>
										</a>
										<div class="post_content">
											<h5>
												<a href="post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
											</h5>
											<ul class="post_details simple">
												<li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
												<li class="date">
													10:11 PM, Feb 02
												</li>
											</ul>
										</div>
									</li>
									<li class="post">
										<a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">
											<img src='images/samples/100x100/image_13.jpg' alt='img'>
										</a>
										<div class="post_content">
											<h5>
												<a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">Nuclear Fusion Closer to Becoming a Reality</a>
											</h5>
											<ul class="post_details simple">
												<li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
												<li class="date">
													10:11 PM, Feb 02
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
							<h4 class="box_header page_margin_top_section">Top Authors</h4>
							<ul class="authors rating clearfix">
								<li class="author">
									<a class="thumb" href="author.html" title="Debora Hilton">
										<img src='images/samples/Team_100x100/image_01.jpg' alt='img'>
										<span class="number animated_element" data-value="34"></span>
									</a>
									<div class="details">
										<h5><a href="author.html" title="Debora Hilton">Debora Hilton</a></h5>
										<h6>EDITOR</h6>
									</div>
								</li>
								<li class="author">
									<a class="thumb" href="author.html" title="Anna Shubina">
										<img src='images/samples/Team_100x100/image_02.jpg' alt='img'>
										<span class="number animated_element" data-value="25"></span>
									</a>
									<div class="details">
										<h5><a href="author.html" title="Anna Shubina">Anna Shubina</a></h5>
										<h6>EDITOR</h6>
									</div>
								</li>
								<li class="author">
									<a class="thumb" href="author.html" title="Liam Holden">
										<img src='images/samples/Team_100x100/image_03.jpg' alt='img'>
										<span class="number animated_element" data-value="9"></span>
									</a>
									<div class="details">
										<h5><a href="author.html" title="Liam Holden">Liam Holden</a></h5>
										<h6>PUBLISHER</h6>
									</div>
								</li>
								<li class="author">
									<a class="thumb" href="author.html" title="Heather Dale">
										<img src='images/samples/Team_100x100/image_04.jpg' alt='img'>
										<span class="number animated_element" data-value="2"></span>
									</a>
									<div class="details">
										<h5><a href="author.html" title="Heather Dale">Heather Dale</a></h5>
										<h6>ILLUSTRATOR</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
{#						<div class="footer_container">#}
{#				<div class="footer clearfix">#}
{#					<div class="row">#}
{#						<div class="column column_1_3">#}
{#							<h4 class="box_header">About PressRoom</h4>#}
{#							<p class="padding_top_bottom_25">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>#}
{#							<div class="row">#}
{#								<div class="column column_1_2">#}
{#									<h5>PressRoom Ltd.</h5>#}
{#									<p>#}
{#										33 Farlane Street<br>#}
{#										25-100 Keilor East,<br>#}
{#										Australia#}
{#									</p>#}
{#								</div>#}
{#								<div class="column column_1_2">#}
{#									<h5>Phone &amp; Fax</h5>#}
{#									<p>#}
{#										Phone: 1-800-64-38<br>#}
{#										Fax: 1-800-64-39#}
{#									</p>#}
{#								</div>#}
{#							</div>#}
{#							<h4 class="box_header page_margin_top">Get In Touch With Us</h4>#}
{#							<ul class="social_icons dark page_margin_top clearfix">#}
{#								<li>#}
{#									<a target="_blank" title="" href="http://facebook.com/QuanticaLabs" class="social_icon facebook">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a target="_blank" title="" href="https://twitter.com/QuanticaLabs" class="social_icon twitter">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a title="" href="mailto:contact@pressroom.com" class="social_icon mail">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a title="" href="#" class="social_icon skype">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a title="" href="http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs" class="social_icon envato">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a title="" href="#" class="social_icon instagram">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a title="" href="#" class="social_icon pinterest">#}
{#										&nbsp;#}
{#									</a>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#						<div class="column column_1_3">#}
{#							<h4 class="box_header">Latest Posts</h4>#}
{#							<div class="vertical_carousel_container clearfix">#}
{#								<ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">#}
{#									<li class="post">#}
{#										<a href="post_gallery.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">#}
{#											<span class="icon small gallery"></span>#}
{#											<img src='images/samples/100x100/image_06.jpg' alt='img'>#}
{#										</a>#}
{#										<div class="post_content">#}
{#											<h5>#}
{#												<a href="post_gallery.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a>#}
{#											</h5>#}
{#											<ul class="post_details simple">#}
{#												<li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>#}
{#												<li class="date">#}
{#													10:11 PM, Feb 02#}
{#												</li>#}
{#											</ul>#}
{#										</div>#}
{#									</li>#}
{#									<li class="post">#}
{#										<a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">#}
{#											<img src='images/samples/100x100/image_12.jpg' alt='img'>#}
{#										</a>#}
{#										<div class="post_content">#}
{#											<h5>#}
{#												<a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">Syrian Civilians Trapped For Months Continue To Be Evacuated</a>#}
{#											</h5>#}
{#											<ul class="post_details simple">#}
{#												<li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>#}
{#												<li class="date">#}
{#													10:11 PM, Feb 02#}
{#												</li>#}
{#											</ul>#}
{#										</div>#}
{#									</li>#}
{#									<li class="post">#}
{#										<a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">#}
{#											<img src='images/samples/100x100/image_02.jpg' alt='img'>#}
{#										</a>#}
{#										<div class="post_content">#}
{#											<h5>#}
{#												<a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>#}
{#											</h5>#}
{#											<ul class="post_details simple">#}
{#												<li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>#}
{#												<li class="date">#}
{#													10:11 PM, Feb 02#}
{#												</li>#}
{#											</ul>#}
{#										</div>#}
{#									</li>#}
{#									<li class="post">#}
{#										<a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">#}
{#											<img src='images/samples/100x100/image_13.jpg' alt='img'>#}
{#										</a>#}
{#										<div class="post_content">#}
{#											<h5>#}
{#												<a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">Nuclear Fusion Closer to Becoming a Reality</a>#}
{#											</h5>#}
{#											<ul class="post_details simple">#}
{#												<li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>#}
{#												<li class="date">#}
{#													10:11 PM, Feb 02#}
{#												</li>#}
{#											</ul>#}
{#										</div>#}
{#									</li>#}
{#								</ul>#}
{#							</div>#}
{#						</div>#}
{#						<div class="column column_1_3">#}
{#							<h4 class="box_header">Latest Galleries</h4>#}
{#							<div class="horizontal_carousel_container big page_margin_top">#}
{#								<ul class="blog horizontal_carousel visible-1 autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">#}
{#									<li class="post">#}
{#										<a href="post_gallery.html" title="Struggling Nuremberg Sack Coach Verbeek">#}
{#											<span class="icon gallery"></span>#}
{#											<img src='images/samples/330x242/image_03.jpg' alt='img'>#}
{#										</a>#}
{#										<h5 class="with_number">#}
{#											<a href="post_gallery.html" title="Struggling Nuremberg Sack Coach Verbeek">Struggling Nuremberg Sack Coach Verbeek</a>#}
{#											<a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>#}
{#										</h5>#}
{#										<ul class="post_details simple">#}
{#											<li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>#}
{#											<li class="date">#}
{#												10:11 PM, Feb 02#}
{#											</li>#}
{#										</ul>#}
{#									</li>#}
{#									<li class="post">#}
{#										<a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">#}
{#											<span class="icon gallery"></span>#}
{#											<img src='images/samples/330x242/image_14.jpg' alt='img'>#}
{#										</a>#}
{#										<h5 class="with_number">#}
{#											<a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>#}
{#											<a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>#}
{#										</h5>#}
{#										<ul class="post_details simple">#}
{#											<li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>#}
{#											<li class="date">#}
{#												10:11 PM, Feb 02#}
{#											</li>#}
{#										</ul>#}
{#									</li>#}
{#									<li class="post">#}
{#										<a href="post_gallery.html" title="New Painkiller Rekindles Addiction Concerns">#}
{#											<span class="icon gallery"></span>#}
{#											<img src='images/samples/330x242/image_04.jpg' alt='img'>#}
{#										</a>#}
{#										<h5 class="with_number">#}
{#											<a href="post_gallery.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a>#}
{#											<a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>#}
{#										</h5>#}
{#										<ul class="post_details simple">#}
{#											<li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>#}
{#											<li class="date">#}
{#												10:11 PM, Feb 02#}
{#											</li>#}
{#										</ul>#}
{#									</li>#}
{#								</ul>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="row page_margin_top_section">#}
{#						<div class="column column_3_4">#}
{#							<ul class="footer_menu">#}
{#								<li>#}
{#									<h4><a href="category_world.html" title="World">World</a></h4>#}
{#								</li>#}
{#								<li>#}
{#									<h4><a href="category_health.html" title="Health">Health</a></h4>#}
{#								</li>#}
{#								<li>#}
{#									<h4><a href="category_sports.html" title="Sports">Sports</a></h4>#}
{#								</li>#}
{#								<li>#}
{#									<h4><a href="category_science.html" title="Science">Science</a></h4>#}
{#								</li>#}
{#								<li>#}
{#									<h4><a href="category_lifestyle.html" title="Lifestyle">Lifestyle</a></h4>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
						<div class="column column_1_4">
							<a class="scroll_top" href="#top" title="Scroll to top">Top</a>
						</div>
					</div>
					<div class="row copyright_row">
						<div class="column column_2_3">
							© Copyright <a href="http://quanticalabs.com" title="QuanticaLabs" target="_blank">QuanticaLabs</a> - PressRoom Template. <a href="http://themeforest.net/item/pressroom-responsive-news-and-magazine-template/9066845?ref=QuanticaLabs" title="PressRoom Template" target="_blank">Click here to buy it</a>
						</div>
						<div class="column column_1_3">
							<ul class="footer_menu">
								<li>
									<h6><a href="about.html" title="About">About</a></h6>
								</li>
								<li>
									<h6><a href="authors.html" title="Authors">Authors</a></h6>
								</li>
								<li>
									<h6><a href="contact.html" title="Contact Us">Contact Us</a></h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="background_overlay"></div>
		<!--js-->
		<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ba-bbq.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.11.1.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
		<script type="text/javascript" src="/static/js/jquery.touchSwipe.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.transit.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.sliderControl.js"></script>
		<script type="text/javascript" src="/static/js/jquery.timeago.js"></script>
		<script type="text/javascript" src="/static/js/jquery.hint.js"></script>
		<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
		<!-- <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script> -->
		<script type="text/javascript" src="/static/js/main.js"></script>
		<script type="text/javascript" src="/static/js/odometer.min.js"></script>
	</body>
</html>